/* 157 lines */
body
{
    margin:0;
}
*
{
    font-family: tahoma;
    transition:3s ease-in-out all;
}

/* start style of header */
header
{
    background: black;
    padding: 5px; 
    position: fixed;
    width:100%;
    top:0;
}
header p 
{
    padding:20px;
    background-color: green;
}
header ul li 
{
    padding:20px;
}
header ul li:hover
{
    background-color:gray;
}
/* end style of header */

/* start style of section of content */
/* start style of section of nav */
.content nav a
{
    padding:20px;
    position: fixed;
    width:5%;
    text-align: center; 
    left:-6%;
    border-radius:5px;
}
.content nav a[href="#about"]
{
    top:15%;
    background-color:green;
}
.content nav a[href="#blog"]
{
    top:23.1%;
    background-color: hotpink;
}
.content nav a[href="#project"]
{
    top:31.2%;
    background-color: dodgerblue;
}
.content nav a[href="#contact"]
{
    top: 39.3%;
    background-color:gainsboro;
}
.content nav a:hover
{
    left:0;
}
/* end style of section of nav */

/* start style of section of time */
.content .time {
    background:url(../images/IMG-20200808-WA0037-1-2.jpg) fixed;
    background-size:100% auto;
    padding:170px 70px 70px;
    margin-bottom:40px;}
.content .time div 
{
    background-color: rgba(0,255,0,0.5);
}
.content .time details 
{
    width:97.8%;
    word-spacing:5px;
    text-transform: capitalize;
}
/* end style of section of time */

/* start style of section of list */
.content .list 
{
    background:url(../images/IMG-20200808-WA0037-1-1.jpg) fixed;
    background-size:100% auto;
   
}
.content .list form input 
{
    background:rgba(255,255,255,0.5);
}
/* end style of section of list */

/* start style of section of pro */
.content .pro
{
    background:url(../images/IMG-20200808-WA0037-1-2.jpg) fixed;
    background-size: 100% auto;
}
.content .pro section:first-child
{
    background-color: rgba(0,255,0,0.5);
}
/* end style of section of pro */
/* end style of section of content */

/* start style of footer */
footer 
{
    background:url(../images/Death\ Note\ Wallpaper\ \(8\).jpg) fixed;
    background-size: 100% auto;
    text-align: center;
}
/* end style of footer */

/* start framework */
.fl-left
{
    float: left;
}
.fl-right
{
    float: right;
}
.ul-style
{
    list-style: none;
}
.a-style
{
    color: white;
    text-decoration: none;
}
.ov-hidden
{
    overflow: hidden;
}
.pad-marg
{
    padding:50px;
    margin-bottom:40px;
}
.div
{
    width:95%;
    padding:20px;
}
/* end framework */