body
{
    margin: 0;
}
div 
{
    background-color:#cc72cf;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    width: 35%;
    margin-top: 5%;
    margin-left: 30%;
}
div input
{
    display: inline-block;
    width: 88%;
}
div input[type="text"]
{
    width: 96%;
    height:40px;
}
div button
{
    width: 23.9%;
    margin: 1% 0;
    font-size: 40px;
    box-shadow: 1px 3px 3px blue;
    background-color: #bb9ce0;
}
div button[id="pluse"]
{
    height: 118px;
    margin: 1% 0;
}
.fl-left
{
    float: left;
}
.fl-right
{
    float: right;
}
