body
{
    margin: 0;
}
div 
{
    background-color:#cc72cf;
    border: 2px solid black;
    padding: 20px;
    width: 35%;
    margin-top: 5%;
    margin-left: 30%;
}
div .input
{
    background-color:dodgerblue;
    width: 76%;
}
div input[type="text"]
{
    width: 96%;
    height: 10%;
}
div button
{
    width: 32%;
    margin: 1% 0;
    box-shadow: 1px 3px 3px blue;
    background-color: #bb9ce0;
}