/* 329 lines */
body
{
    margin: 0;
    background-color: black;
}
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    font-family: arial;
    -webkit-transition:all 6s ease-in-out 4s;
    transition:all 6s ease-in-out 1s;
}
.container 
{
    width:100%;
}
/* start style of header */
header 
{
    z-index: 2;
    position:fixed;
    height: 63px;
    margin: 0;
    width: 100%;
    background-color:gainsboro;
    -webkit-box-shadow: 3px 3px 5px dodgerblue inset,
        -3px -3px 5px dodgerblue inset,
        3px 6px 5px pink inset,
        -3px -6px 5px pink inset;
    box-shadow: 3px 3px 5px dodgerblue inset,
        -3px -3px 5px dodgerblue inset,
        3px 6px 5px pink inset,
        -3px -6px 5px pink inset;
     
}
header .container h1
{
    background-color: dodgerblue;
    display: inline-block;
    padding:20px;
    font-size: 20px;
    margin: 0;
    bottom: 0;
}
header .container .switch {
    position: relative;
    display: inline-block;
    width:100%;
    height:20px;
    top:-10px;
}
header .container .switch input { 
  opacity:0;
  width:0;
  height: 0;
}
header .container .switch .slider {
  position: absolute;
  cursor: pointer;
  top:-42px;
    left: 0;
    width:10%;
    padding: 20px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
header .container .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
header .container .switch input:checked + .slider 
{
  background-color: #2196F3;
}
header .container .switch .slider:checked + ul
{
    display: block;
    background-color: skyblue;
    position:fixed;
    top:60px;
    right: 0;
}
header .container .switch input:checked + .slider:before {
  -webkit-transform: translateX(80%);
  -ms-transform: translateX(80%);
  transform: translateX(80%);
}
header .container .switch ul
{
    display: flex;}
header .container .switch ul li
{
    position: absolute;
    padding: 20px;
}
header .container  .switch ul li:first-of-type
{
    top:-50px;
    left:60%;
}
header .container  .switch ul li:nth-of-type(2)
{
    top:-50px;
    left: 70%;
}
header .container  .switch ul li:nth-of-type(3)
{
    top:-50px;
    left:80%;
}
 [class^="fas"]
{
    background-color: black;
}
@media  (min-width:1000px)
    {
         header .container .switch .slider,header .container .switch input
        {
            display:none;
        }
         header .container .switch ul
        {
            display: inline-block;
        }
        header .container .switch  ul li
        {
            display:inline-block;
        }
}
@media (max-width:999px)
    {
        .switch
        {
            display:block;
            left: 80%;
        }
        header .container .switch ul
        {
            display:block;
        }
        header .container .switch ul li
        {
            display:block;
        }
}
        
header .container  ul li:hover 
{
    
    background-color:black;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

/* end style of header */

/* start style of content */

.content
{
    z-index: 2;
    padding: 50px 0;
}

/* start style of media */
.content .media
{
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgb(176 186 175 / 50%);
    background: url(../images/bg.jpg) fixed;
    background-size:cover;
}
.content .media ul li a
{
    font-size:20px;
    position: fixed;
    z-index: 2;
    left: -6%;
    padding: 20px 50px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.content .media ul li a[ href="https://twitter.com"]
{
    
    top:120px;
    background-color:hotpink;
}
.content .media ul li a[ href="https://facebook.com"]
{
    top:200px;
    padding: 20px 54px;
    background-color:dodgerblue;
}
.content .media ul li a[  href="https://whatsapp.com"]
{
    top:280px;
    background-color:gainsboro;
}
.content .media ul li a:hover
{
    left: 0;
}
.content .media section 
{
    margin:5% 10% 10%;
    padding: 20px;
    text-align: center;
    position: relative;
    height: 600px;
}
@media (max-width:1800px)
{
    .two
    {
        display: none;
    }
    .three
    {
        display: none;
    }
    .four
    {
        display: none;
    }
}
@media (max-width:1200px)
{
    .one
    {
        display: none;
    }
    .two
    {
        display: inline-block;
    }
    .three
    {
        display: none;
    }
    .four
    {
        display: none;
    }
}
@media (max-width:900px)
{
    .one
    {
        display: none;
    }
    .two
    {
        display:none;
    }
    .three
    {
        display:inline-block;
    }
    .four
    {
        display: none;
    }
}
@media (max-width:700px)
{
    .one
    {
        display: none;
    }
    .two
    {
        display:none;
    }
    .three
    {
        display:none;
    }
    .four
    {
        display:inline-block;
    }
}
.content .media section img
{
    position: absolute;
    padding: 20px;
    top: 5px;
    left: 30%;
    width: 55%;
    z-index: 1;
}
/* end style of media */

/* start style of fan */
.content .fan
{
    background: url(../images/liberty.jpg) fixed;
    background-size:cover;
}
.content .fan div 
{
    background-color: rgb(90 58 160 / 50%);
    width: 100%;
    height: 450px;
    padding: 30px;
    position: relative
}
.content .fan div img 
{
    position: absolute;
    text-align: center;
    top:10%;
    left:40%;
    z-index: 1;
    padding: 20px;
    width:30%;
}       
.content .fan div img:hover
{
    animation: fan 6s infinite;
}
@keyframes fan
{
    0%
    {
        transform: rotate(0deg);
        content: url(../images/fanc.png);
    }
    10%
    {
        transform: rotate(36deg);
        content: url(../images/fanc2.png);
    }
    20%
    {
        transform: rotate(72deg);
        content: url(../images/fanc3.png);
    }
    30%
    {
        transform: rotate(108deg);
        content: url(../images/fanc4.png);
    }
    40%
    {
        transform: rotate(144deg);
        content: url(../images/fanc5.png);
    }
    50%
    {
        transform: rotate(180deg);
        content: url(../images/fanc.png);
    }
    60%
    {
        transform: rotate(216deg);
        content: url(../images/fanc2.png);
    }
    70%
    {
        transform: rotate(252deg);
        content: url(../images/fanc3.png);
    }
    80%
    {
        transform: rotate(288deg);
        content: url(../images/fanc4.png);
    }
    90%
    {
        transform: rotate(324deg);
        content: url(../images/fanc5.png);
    }
    100%
    {
        transform: rotate(360deg);
        content: url(../images/fanc.png);
    }
}
/* end style of fan */

/* start style of font */
.font
{
    background: url(../images/1828458.jpg) fixed;
    background-size:cover;
    padding: 20px;
    margin-top: 50px;
}
.font div
{
    font-family: 'indie flower';
    width: 35%;
    background-color:gainsboro;
    margin:10%;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 8px 8px 10px rgba(0,0,255,0.5),
        -8px -8px 10px rgba(255,0,0,0.5);
    box-shadow: 8px 8px 10px rgba(0,0,255,0.5),
        -8px -8px 10px rgba(255,0,0,0.5);
    
    
}
@font-face
{
    font-family: 'indie flower';
    src: url(../fonts/IndieFlower-Regular.ttf);
}
/* end style of font */
    
/* end style of content */

/* start style of footer */
footer 
{
    font-family: 'pacifico';
    background: black;
    padding: 20px;
    color: white;
    text-align: center;
}
@font-face
{
    font-family:'pacifico';
    src:url(../fonts/Pacifico-Regular.ttf);
}
/* end style of footer */

/* start framework */
.ov-hidden
{
    overflow: hidden;
}
.fl-left
{
    float: left;
}
.fl-right
{
    float: right;
}
.ul-style
{
    list-style: none;
    margin: 0;
}
.a-style
{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.li
{
    padding: 5px;
    margin: 0;
    text-shadow:1px 2px 2px #ba5918,
        -1px -2px 2px #3212b2;
}
/* end framework */