/* 329 lines */
body
{
    margin: 0;
}
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    font-family: arial;
    -webkit-transition:all 6s ease-in-out 4s;
    transition:all 6s ease-in-out 1s;
}
.container 
{
    width: 95%;
}
/* start style of header */
header 
{
    z-index: 2;
    position:fixed;
    top:0;
    width: 100%;
    background-color: gainsboro;
    -webkit-box-shadow: 3px 3px 5px dodgerblue inset,
        -3px -3px 5px dodgerblue inset,
        3px 6px 5px pink inset,
        -3px -6px 5px pink inset;
    box-shadow: 3px 3px 5px dodgerblue inset,
        -3px -3px 5px dodgerblue inset,
        3px 6px 5px pink inset,
        -3px -6px 5px pink inset;
    -webkit-border-radius: 0 0 200px  200px;font-size:20px;
    border-radius: 0 0 200px  200px;font-size:20px;
}
header .container ul li a:hover 
{
 color: dodgerblue;
}
header .container ul li img 
{
    width:15px;
    height: 15px;
}
/* end style of header */

/* start style of content */

.content
{
    z-index: 2;
    padding: 70px 0;
    background-color: black;
}

/* start style of shadow */
.content .shadow
{
    background: url(../images/1828458.jpg) fixed;
    background-size: 100% auto;
    padding:10px;
    margin-bottom:60px;
}
.content .shadow ul li a
{
    font-size:20px;
    position: fixed;
    overflow: auto;
    left: -6%;
    padding: 20px 50px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.content .shadow ul li a[ href="https://twitter.com"]
{
    
    top:120px;
    background-color:hotpink;
}
.content .shadow ul li a[ href="https://facebook.com"]
{
    top:200px;
    padding: 20px 54px;
    background-color:dodgerblue;
}
.content .shadow ul li a[  href="https://whatsapp.com"]
{
    top:280px;
    background-color:gainsboro;
}
.content .shadow ul li a:hover
{
    left: 0;
}
.content .shadow section 
{
    width: 35%;
    background-color:gainsboro;
    margin:10%;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 8px 8px 10px rgba(0,0,255,0.5),
        -8px -8px 10px rgba(255,0,0,0.5);
    box-shadow: 8px 8px 10px rgba(0,0,255,0.5),
        -8px -8px 10px rgba(255,0,0,0.5);
     white-space: nowrap;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-resize: horizontal;
    resize: horizontal;
}
.content .shadow section .flex
{
    width:95%;
    padding: 20px;
    box-shadow: 8px 8px 10px rgba(0,0,255,0.5),
        -8px -8px 10px rgba(255,0,0,0.5);
    -webkit-text-shadow: 5px 5px 5px rgba(0,0,255,0.5), -5px -5px 5px rgba(255,0,255,0.5);
    text-shadow: 5px 5px 5px rgba(0,0,255,0.5), -5px -5px 5px rgba(255,0,255,0.5);
    background: linear-gradient( to right,#68c8d8,#bf73cd,azure,white,#94b394,#8497f3);
    overflow: hidden;
    -webkit-display: flex;
    display: flex;
}
.content .shadow section .flex div
{
    width: 100px;
    padding: 10px;
    background-color: white;
    margin: 10px;
}

/* end style of shadow */

/* start style of flip-cards */
.content .flip-card 
{
    background: url(../images/pop-bg.jpg) fixed;
    background-size: 100% auto;
    margin-bottom: 60px;
}
.content .flip-card section
{
    background-color: rgba(0,0,0,0.5);
    margin:0;
    width: 100%;
    padding:15% 5% 28%;
    -webkit-display:flex;
    display:flex;
}
.content .flip-card section .up 
{
    margin: 20px;
    width:30%;
    height:20%;
    position: relative;
    perspective: 600px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1.5s ease-in-out 1s;
    transition: all 1.5s ease-in-out 1s;
}
.content .flip-card section .up:hover
{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.content .flip-card section .up img,.content .flip-card section .up div
{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:250px;
}

.content .flip-card section .up .front
{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.content .flip-card section .up .back
{
    background-color: red;
    border:5px dotted dodgerblue;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    padding:20px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/* end style of rotate */

/* start style of opactiy */
.content .opactiy
{
    background: url(../images/pop-bg.jpg) fixed;
    background-size: 100% auto;
}
.content .opactiy div 
{
    background-color: rgb(90 58 160 / 50%);
    margin: 0;
    width: 100%;
    padding: 70px;
    -webkit-display: flex;
    display: flex;
}
.content .opactiy div img 
{
    padding: 20px;
    margin:1% 0;
    width:30%;
    height: 20%;
}
.content .opactiy div .arrow
{
    -webkit-opacity: 0;
    opacity: 0;
    width: 15%;
    margin-top: 20%;
    
    
}
.content .opactiy div .rasengan
{
    -webkit-opacity: 0;
    opacity: 0;
    width: 10%;
    margin-top: 15%;
    margin-left: 20%;
}
.content .opactiy div:hover>.arrow
{
    -webkit-transform: skewx(30deg) translateX(650px) scale(1.5);
    transform: skewx(30deg) translateX(650px) scale(1.5);
    -webkit-opacity:1;
    opacity:1;
}
.content .opactiy div:hover>.rasengan
{
    -webkit-transform: skewx(10deg) translateX(-650px) scale(1.5);
    transform: skewx(10deg) translateX(-650px) scale(1.5);
    -webkit-opacity:1;
    opacity:1;
}
/* end style of opactiy */

/* start style of multi-columns */
.multi-columns
{
    background: url(../images/1828458.jpg) fixed;
    background-size: 100% 100%;
    padding: 20px;
    margin-top: 50px;
}
.multi-columns div
{
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-width: 200px;
    column-width: 200px;
    -webkit-column-rule: 4px dotted hotpink;
    column-rule: 4px dotted hotpink;
    width: 35%;
    background-color:gainsboro;
    margin:10%;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 8px 8px 10px rgba(0,0,255,0.5),
        -8px -8px 10px rgba(255,0,0,0.5);
    box-shadow: 8px 8px 10px rgba(0,0,255,0.5),
        -8px -8px 10px rgba(255,0,0,0.5);
    overflow: hidden;
    -webkit-resize: horizontal;
    resize: horizontal;
}

/* end style of content */

/* start style of footer */
footer 
{
    background: black;
    color: white;
    text-align: center;
}
/* end style of footer */

/* start framework */
.ov-hidden
{
    overflow: hidden;
}
.fl-left
{
    float: left;
}
.fl-right
{
    float: right;
}
.ul-style
{
    list-style: none;
    margin-left:2%;
}
.a-style
{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.li
{
    display: inline-block;
    padding: 20px;
    text-shadow:1px 2px 2px #ba5918,
        -1px -2px 2px #3212b2;
}
/* end framework */